$primary-color: rgb(201, 201, 201);
$secondary-color: rgb(87, 87, 87);
$tertiary-color: #eeeeee;
$primary-font-color: black;
$border-radius: 4px;
$opacity: 0.8;


body {

    nav {
        background-color: $secondary-color;
        padding: 10px;
        border-radius: $border-radius;
        list-style-type: none;
         /* unvisited link */

        a {
            width: 33%;
            display: inline-block;
            text-align: center;
            transition: 0.3s ease-out all;
        }
        a:link {
            color: $tertiary-color;
          }
          
          /* visited link */
          a:visited {
            color: $tertiary-color;
          }
          
          /* mouse over link */
          a:hover {
            color: $primary-font-color;
          }
          
          /* selected link */
          a:active {
            color: $tertiary-color;
          } 

    }
    main {

    }
    footer {
        background-color: $primary-color;
        padding: 10px;
        border-radius: $border-radius;
        opacity: $opacity;

    }
    .menu {
        height: 40px;
        font-size: 20px;
        text-transform: uppercase;
        
    }
    .middle {
        float: none;
        clear: both;
    }
    
    .left {
        width: 50%;
        background-color: $primary-color;
        border-radius: $border-radius;
        opacity: $opacity;
    }
    .right {
        width: 50%;
        background-color: $primary-color;
        border-radius: $border-radius;
        opacity: $opacity;
    }

}

.background {
    background-image: url("./company_logo.jpg");
    background-repeat: no-repeat;
    height: 100%;
}