body {
  padding: 20px; }
  body nav {
    background-color: #575757;
    padding: 10px;
    border-radius: 10px;
    list-style-type: none;
    /* unvisited link */
    /* visited link */
    /* mouse over link */
    /* selected link */ }
    body nav a {
      width: 20%;
      display: inline-block;
      text-align: center;
      transition: 0.3s ease-out all;
      text-decoration: none; }
    body nav a:link {
      color: #eeeeee; }
    body nav a:visited {
      color: #eeeeee; }
    body nav a:hover {
      color: black; }
    body nav a:active {
      color: #eeeeee; }
    body nav h1 {
      font-family: Brush Script MT, Geneva, sans-serif; }
    body nav .dynamic-color {
      background: transparent;
      transition: 0.3s all ease-out;
      transform: scale(1); }
      body nav .dynamic-color:hover {
        background: green;
        transform: scale(1); }
  body footer {
    background-color: #c9c9c9;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    opacity: 0.8; }
  body .menu {
    height: 40px;
    font-size: 20px;
    text-transform: uppercase; }
  body .middle {
    float: none;
    clear: both; }
  body .left {
    width: 50%;
    background-color: #c9c9c9;
    border-radius: 10px;
    opacity: 0.8;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 10px #888888; }
  body .right {
    width: 50%;
    background-color: #c9c9c9;
    border-radius: 10px;
    opacity: 0.8;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 10px #888888; }

.background {
  background-image: url("./company_logo.jpg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 30%; }
